<br />
<!--Display About Us page -->
<h2 class="text-center">About Us</h2>
<br />
<div class="container">
  <div class="row">
    <div class="col col-lg-12 border rounded">
      <div class="rounded mx-auto d-block">
        <br />
        <p style="text-align: center;">
          <strong>Tech Int Prep </strong>
          is a place where individuals can come to ask the technical question or
          contribute the answer to the question being asked by the other user.
          We believe this help the new coder to get ready for the
          <strong>technical interview</strong>
          as much as possible to jump into the real world. It's main motto is
          <strong>to share the knowledge you have to get from others.</strong>
          <br />
          Your contribution is highly appreciated.
          <br />
          <strong>Tech Int Prep Team</strong>
        </p>
      </div>
    </div>
  </div>
</div>
<br />

<div class="container">
  <h3 class="text-center">Our Team Members</h3>
  <br />
  <div class="row">
    <div class="col-lg-3 col-md-12 ">
      <div class="box">
        <img src="images/myphoto.jpg" alt="Photo" class="img-fluid" />
        <p class="text-center py-2"><strong>Sonam J Sherpa</strong></p>
        <div class="d-flex justify-content-center my-4">
          <a href="https://www.linkedin.com/" target="_blank"><i
              class="fa-brands fa-linkedin fa-xl mx-2"
            ></i></a>
          <a href="mailto:abc@gmail.com"><i
              class="fa-solid fa-envelope fa-xl mx-2"
            ></i></a>
          <a href="https:/" target="_blank"><i
              class="fa-brands fa-github fa-xl mx-2"
            ></i></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="box">
        <img src="images/code_image.jpeg" alt="Photo" class="img-fluid" />
        <p class="text-center py-2"><strong>Dandar Ganbold</strong></p>
        <div class="d-flex justify-content-center my-4">
          <a href="https://www.linkedin.com/" target="_blank"><i
              class="fa-brands fa-linkedin fa-xl mx-2"
            ></i></a>
          <a href="mailto:abc@gmail.com"><i
              class="fa-solid fa-envelope fa-xl mx-2"
            ></i></a>
          <a href="https:/" target="_blank"><i
              class="fa-brands fa-github fa-xl mx-2"
            ></i></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="box">
        <img src="images/code_image.jpeg" alt="Photo" class="img-fluid" />
        <p class="text-center py-2"><strong>Justin Jasso</strong></p>
        <div class="d-flex justify-content-center my-4">
          <a href="https://www.linkedin.com/" target="_blank"><i
              class="fa-brands fa-linkedin fa-xl mx-2"
            ></i></a>
          <a href="mailto:abc@gmail.com"><i
              class="fa-solid fa-envelope fa-xl mx-2"
            ></i></a>
          <a href="https:/" target="_blank"><i
              class="fa-brands fa-github fa-xl mx-2"
            ></i></a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-12">
      <div class="box">
        <img src="images/code_image.jpeg" alt="Photo" class="img-fluid" />
        <p class="text-center py-2"><strong>TJ Annoreno</strong></p>

        <div class="d-flex justify-content-center my-4">
          <a href="https://www.linkedin.com/" target="_blank"><i
              class="fa-brands fa-linkedin fa-xl mx-2"
            ></i></a>
          <a href="mailto:abc@gmail.com"><i
              class="fa-solid fa-envelope fa-xl mx-2"
            ></i></a>
          <a href="https:/" target="_blank"><i
              class="fa-brands fa-github fa-xl mx-2"
            ></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<br />