<div class="col-lg-6 my-5 rounded mx-auto d-block col border rounded p-4">
  <div class="card-header">
    <h2 class="text-left p-4">Edit Question</h2>
  </div>
  <br>
  <form id="edit-post-form" class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />
    <label class="form-label my-2" for="post-title">Question</label>
    <input
      type="text"
      name="post-title"
      value="{{post.title}}"
      class="form-control my-2"
    />
    <label class="form-label" for="post-body">Answer</label>
    <textarea
      type="text"
      name="post-body"
      class="form-control"
      rows="10"
    >{{post.body}}</textarea>
    <br />
    <button type="submit" class="btn btn-success mb-2">Update</button>
    <button
      type="button"
      id="delete-btn"
      class="btn btn-danger mb-2"
    >Delete</button>
  </form>
</div>

<div class="container text-center"><strong>Thank's for your contribution.
  </strong><br />
  <img src="../images/Tech_Int_Prep_logo.png" />
</div>

<script src="/js/edit.js"></script>