<br />
<!--Display Home page -->
<div class="home-title-container">
  <h2 class="home-title text-center">ASK AND ANSWER
</div>
<br />
<!-- div to hold the fade in fade out image with class content -->
<div class="image-div p-5 text-center bg-image"></div>
<br />
<div class="container text-center quote">- Sharing knowledge is the most fundamental
  act of friendship. Because it is a way you can give something without loosing
  something.
  <br />
  <strong>-Richard Stallman</strong></div>
  <br>


 