
<!--Display Home page -->
<div class="row">
<div class="col-lg-4 col-md-12 col-sm-6 my-5">
  <h1 class="home-title">ASK AND ANSWER</h1>
  <p class="title-info "> <strong>{{title}}</strong> is a place where individuals can come to ask the technical question or
          contribute the answer to the question being asked by the other user.</p>  
          <br> {{#unless logged_in}}
        <a class="btn btn-success signup signup-btn getstarted "
                href="/signup"
                role="button"
              >Sign Up</a>
              {{/unless}}
</div>
<!-- div to hold the fade in fade out image with class content -->
<div class="image-div col-lg-8 col-sm-6" ></div>
</div>
<br />
  <br>


{{!-- <div class="container text-left quote">Sharing knowledge is the most fundamental
  act of friendship. Because it is a way you can give something without loosing
  something.<strong> -Richard Stallman</strong></div> --}}