<!--Display Login page -->
<br />
<br />
<div class="col-lg-6 col-sm mx-auto border rounded p-5">
  <form id="login-form">
    <h2>Good to see you again..</h2>
    <hr />
    <div class="mb-3">
      <label for="username-login" class="form-label">Username</label>
      <input
        type="username"
        class="form-control"
        id="username-login"
        placeholder="Your Username"
        aria-describedby="username"
      />
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Minimum 8 characters password required"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>

<script src="/js/login.js"></script>