<br>
<!--Display Add new Post page -->
<div class="col-lg-6 col-md-10 col-sm-6 my-5 rounded mx-auto  p-4">
  <div class="card-header">
    <br>
    <h2 class="text-left p-4">Add Your Question</h2>
  </div>
  <br>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Your Question</label>
    <input type="text" name="post-title" class="form-control my-2" />
    <label class="form-label my-2" for="post-body">Answer</label>
    <textarea
      name="post-body"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="10"
    ></textarea>
    <button type="submit" class="btn btn-success my-2 mx-auto w-100">Post
      Question</button>
  </form>
  <div class="container text-center" id="addQA"></div>
</div>
<script src="/js/post.js"></script>