<br>
<!--Display Add new Post page -->
<div class="col-4 py-2 my-2 rounded mx-auto d-block col border rounded p-5">
  <div class="card-header">
    <br>
    <h2>Drop Your Question</h2>
  </div>
  <form id="new-post-form" class="card-body">
    <label class="form-label" for="post-title">Your Question</label>
    <input type="text" name="post-title" class="form-control" />
    <label class="form-label" for="post-body">Answer</label>
    <textarea
      name="post-body"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="10"
    ></textarea>
    <button type="submit" class="btn btn-success my-2 mx-auto w-100">Post
      Question</button>
  </form>
</div>

<div class="container text-center"><strong>Thanks for your contribution.</strong><br
  /></div>

<script src="/js/post.js"></script>