/* css stylesheet */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.flex-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body{
  width: 100%;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  background: linear-gradient(rgba(77, 20, 211, 0.5), rgba(12, 122, 62, 0.5));
  overflow: scroll;
  min-height: 100vh;
}
.wrapper {
  position: relative;
  height: fit-content;
}
.content {
  padding-bottom: 2.5rem; /* Adjust this value to accommodate the footer's height */
}
h4{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: black;
  font-weight: 800;
}

h2{
  color:white;
}
.form-label, .form-control{
color:black;
}
/* home page title styling */
h1.home-title{
  font-size: 6rem;
  color: black;
  -webkit-text-fill-color:rgb(85, 186, 187); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  margin-left:20px;
}
/* homepage title description styling */
p.title-info{
  font-size: 1.5rem;
  margin-left: 20px;
  text-align: justify;
  margin-top: 15px;
}
/* Hero image fade in fade out display styling */
.image-div {
    box-shadow: 8px 3px 3px #2b1d3c;
    border-radius: 15px;
    height: 500px;
    width: 800px;
    margin: auto;
    background-image: linear-gradient(
        rgba(178, 120, 192, 0.417),
        rgba(79, 147, 221, 0.5)
      ),
      url("../images/code3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px black solid;
    /* transition: 5s; */
  
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  @keyframes animate {
    0% {
      background-image: url("../images/code_image.jpeg");
    }
    20% {
      background-image: url("../images/code_image2.jpeg");
    }
    40% {
      background-image: url("../images/code2.jpeg");
    }
    60% {
      background-image: url("../images/next_image.jpeg");
    }
    80% {
      background-image: url("../images/wordpress_image.webp");
    }
    100% {
      background-image: url("../images/code1.jpeg");
    }
  }
/* custom navbar styling */
 .navbar{
    background-color: rgb(8, 71, 62);
 }

 .navbar-text,
 .navbar-brand,
 .nav-link,
 .nav-link.active{
    color:white
 }
 .nav-link:hover{
  text-decoration: underline 3px white;
  text-underline-offset: 5px;
  color:white;
}

 /* button styling */
 .btn{
    background-color: white;
    color:green;
 }
 .logout-btn{
  margin-left: 3px;
}
 .signup-btn, .login-btn{
  margin-left: 10px;
 }
.edit_area{
  padding: 5px;
  background-color: rgb(175, 210, 174);
  border-radius: 5px;
  border: solid black 2px !important;
}
 .btn:hover{
    background-color: red;
    color:white;
    border: solid white 2px;
 }
 .btn:hover {
  background-color:rgb(8, 71, 62); 
}
.btn-login a:hover{color:white;}
button.navbar-toggler, .navbar-toggler-icon {
color:white;
}
.getstarted{
  margin-left: 20px;
  width: 200px;
}
 /* bootstrap div styling */
 .col-lg-6 {
    background-color: rgb(85, 186, 187);
    box-shadow: 8px 3px 3px rgb(34, 33, 34);
 }
 .col-lg-12{
  background-color: rgb(85, 186, 187);
  box-shadow: 8px 3px 3px rgb(34, 33, 34);
}

/* image div for About us page */
.box{
    width: 400px;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
}

span{
  color:black;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* styling for question title */
.card-header{
  box-shadow: 8px 3px 3px rgb(33, 30, 30);
}
/* p element styling for comment */
p.comment
{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.quote{
  margin-top: 5px;
  padding-left: 20px;
}

.row{
  margin-right: 0 !important; /* in order to get rid of extra space on the right to navbar */
}
.footer {
  position: absolute;
  width: 100%;
  height: 2.5rem; /* Adjust this value to set the footer's height */
}

/********** Media Queries ***********/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
  .row {
    display: flex;
    flex-direction: column-reverse;
    margin :auto;
    margin-top: 0 !important;
  }
  
  .col-lg-4 {
    order: 1;
    text-align: center;
  }
  
  .image-div {
  order: 2;
  margin-bottom: 15px;
  padding: 10px;
  height: 250px;
  width: 350px;
}

h1.home-title{
  font-size: 2rem;
  text-align: center;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
  text-shadow:
       2px 2px 0 white,
     -0.5px -0.5px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}
p.title-info{
  font-size: 1rem;
  text-align: center;
}
.content{
  padding: 10px;
}
.login-btn {
  width: fit-content;
  margin-left: 0;
  margin-top: 15px;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
    margin :auto;
    margin-top: 0 !important;
   
  }
  
  .col-lg-4 {
    order: 1;
    text-align: center;
    margin: auto;
  }
  
  .image-div {
    order: 2;
    margin-bottom: 25px;
  }
  .image-div {
  padding: 10px;
  height:400px;
  width: 600px;
}
.member-box{
 display:grid;
}
h1.home-title{
  font-size: 4rem;
  -webkit-text-stroke-color: white;
  text-shadow:
       2px 2px 0 white,
     -0.5px -0.5px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}
p.title-info{
  font-size: 2rem;
  text-align: center;
  margin: auto;
}
.login-btn {
  width: 200px;
  margin-left: 0;
  margin-top: 15px;
}
}